{% extends "base_generic.html" %}

{% block title %}<title>Local Library Home</title>{% endblock %}


{% block content %}
<h1>Local Library Home</h1>

  <p>Bienvenido a <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Generos:</strong> {{ num_generos }}</li>
    <li><strong>Libros en Castellano:</strong> {{ num_libros_esp }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
